apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: iot-command-control-service
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/ihorlapka/Kubernetes-Manifests.git
    targetRevision: HEAD
    path: iot-command-control-service/overlays/dev
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      selfHeal: true
      prune: true