apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
data:
  prometheus.yml: |
    global:
      scrape_interval: 1s

    scrape_configs:
      - job_name: prometheus
        static_configs:
          - targets: ['localhost:9090']
